body {
  background-color: #e0f2e8;
}
.findBtn,
.inputData {
  border-radius: 5px;
  font-weight: 700;
  outline: none;
}
.inputData {
  padding: 10px 5px;
  border: 2px solid #000;
}
.findBtn {
  padding: 10px 25px;
  cursor: pointer;
  background-color: #000;
  border: 2px solid #a5a3a2;
  color: #fff;
}
.userAbout {
  margin-top: 50px;
  text-align: center;
}
.userInfo,
.noUser {
  display: none;
}

.noUser {
  text-align: center;
  margin-top: 50px;
}
.noUser span {
  border: 2px solid red;
  padding: 15px;
}
.userAbout,
.followList a,
.repoList a,
.userPage,
.noUser {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #000;
}
.userImg {
  height: 200px;
}
.userLists {
  display: flex;
  justify-content: space-around;
}
.titleList {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 5px;
}
.followList,
.repoList {
  list-style: none;
}
.followList li,
.repoList li {
  margin-bottom: 5px;
  padding-left: 5px;
}
